body, html {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(#c781e0, #ff9ec5);

}

h3 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1rem;
    color: #000000;
    text-align: center;
    letter-spacing: 2px;
}


.viewprofile{
    width: 100%;
    border: 2px dashed #ffd2d3;
    border-radius: 5px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
.profile-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    justify-content: center;
}
.profile-content button{
    width: auto;
    height: 35px;
    padding: 5px 8px;
    background-color: #ff9ec5;
    border: none;
    align-self: center;
    border-radius: 20px;
   
}
.avatar {

    vertical-align: middle;

    width: 50px;

    height: 50px;

    border-radius: 50%;

    border:  #000;
    margin-right: 15px;
}

.pclist {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    max-height: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background: #ffd2d3;
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pclist img {
    width: 100px;
    height: 350px;
}

.pclist h1{
    font-size: 16px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.pclist p {
    font-size: 12px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
.pclist h1,
.pclist h2,
.pclist h3,
.pclist p,
.pclist span {
    margin: 4px 0;
    padding: 0;
    line-height: 1.2;
}

.photo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.bubble-text {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
    color: #fcf6bd;
    text-shadow: 2px 2px 0 #000;
    text-align: center;
    letter-spacing: 2px;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a1ffde;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    align-self: center;
   
}

.button-container {
    text-align: center;
    margin-top: 20px;  
  }

  .topnav {
    background-color: rgba(199, 129, 224, 0.9);
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    padding: 10px;
    font-family: 'Luckiest Guy', cursive;
}

.topnav a {
    float: left;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 0 #9129b1;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.7rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.topnav a:hover {
    background-color: rgba(255, 158, 197, 0.8);
    color: #fff;
}

.topnav a.active {
    background-color: #c781e0;
    color: #fff;
}
 

.hero-image {
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 100%; /* Make it full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
    border-radius: 8px;
}


.hero-text {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    color: #333;
    max-width: 80%;
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
    color: #fcf6bd;
    text-shadow: 2px 0px #9129b1;
    text-align: center;
}


.hero-text h1 {
    font-size: 4.5rem; /* Increased font size */
    color: #ff9ec5;
    margin-bottom: 0.5rem;
    font-weight: 600;
}


.hero-text p{
    text-shadow: none;
    font-weight: lighter;
    font-size: 30px;
}



#cloud{
    position: absolute;
    opacity: 90%;
    width: 300px;
    height: 300px;
    margin-top: -80px;
    margin-left: 660px;
    background-position-x: 30%;
}


#cloud2{
    position: absolute;
    opacity: 90%;
    width: 300px;
    height: 300px;
    margin-top: -80px;
    margin-left: -460px;
    background-position-x: 30%;
}


#cloud3{
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: -200px;
    margin-left: 800px;
    background-position-x: 70%;
}


#cloud4{
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: -200px;
    margin-left: -800px;
    background-position-x: 70%;
}


#cloud5{
    position: absolute;
    opacity: 90%;
    width: 200px;
    height: 300px;
    margin-top: -470px;
    margin-left: 550px;
    background-position-x: 30%;
}


#cloud6{
    position: absolute;
    opacity: 90%;
    width: 200px;
    height: 300px;
    margin-top: -370px;
    margin-left: -550px;
    background-position-x: 30%;
}


#stars{
    position: absolute;
    width: 170px;
    height: 80px;
    margin-top: -300px;
    margin-left: -360px;
    background-position-x: 30%;
}


#stars2 {
    position: absolute;
    width: 90px;
    height: 90px;
    margin-left: 600px;
    margin-top: -200px;
    background-position-x: 30%;
}


#cards{
    position: absolute;
    width: 90px;
    height: 90px;
    margin-left: -120px;
    margin-top: -260px;
    background-position-x: 30%;
}


#cards2{
    position: absolute;
    opacity: 98%;
    width: 90px;
    height: 90px;
    margin-left: 420px;
    margin-top: -40px;
    background-position-x: 30%;
}


#chess{
    position: absolute;
    width: 100%;
    margin-top: -1760px;
    margin-left: -738px;
    background-position-x: -40%;
    z-index: -1;
}


