body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(#c781e0, #ff9ec5);
    
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#drop-area{
    width: 500px;
    height: auto;
    background: #fff;
    text-align: center;
    border-radius: 20px;

}

img {
    width: 125px;
    height:100px;
    padding: 10px;
}

#img-view {
    min-width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff ;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

#img-view img{
    width: 100px;
    margin-top: 25px;
    height: auto;
    padding: 5px;
}
#img-view span{
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;   
    margin: 10px 0;
  }
  
  .form-group label {
    width: 150px;            
    text-align: right;
    margin-right: 10px;
  }
  
  .form-group input[type=text],
  .form-group select {
    width: 50%;              
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
/* Style the submit button */
input[type=submit] {
  width: 15%;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.7rem;
  background-color: #1de19c;
  color: #ffffff;
  text-align: center;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block; 
  
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #10855c;
}

.formarea {
    background-color: transparent;
    background: none;
    padding: 15px;
    border-radius: 20px;
    
}
.bubble-text {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
    color: #fcf6bd;
    text-shadow: 2px 2px 0 #484747;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: underline;
}

form label {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5rem;
    color: #ffffff;
}
.topnav {
    background-color: rgba(199, 129, 224, 0.9);
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    padding: 10px;
    font-family: 'Luckiest Guy', cursive;
}

.topnav a {
    float: left;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 0 #9129b1;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.7rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.topnav a:hover {
    background-color: rgba(255, 158, 197, 0.8);
    color: #fff;
}

.topnav a.active {
    background-color: #c781e0;
    color: #fff;
}