body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(#c781e0, #ff9ec5);
    
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#drop-area{
    width: 500px;
    height: auto;
    background: #fff;
    text-align: center;
    border-radius: 20px;

}

img {
    width: 125px;
    height:100px;
    padding: 10px;
}

#img-view {
    min-width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px dashed #bbb5ff;
    background: #f7f8ff ;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

#img-view img{
    width: 100px;
    margin-top: 25px;
    height: auto;
    padding: 5px;
}
#img-view span{
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}

  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
}

.formarea {
    background-color: transparent;
    background: none;
    padding: 15px;
    border-radius: 20px;
    border: 2px dashed rgba(255, 255, 255, 0.3);
}
.bubble-text {
    font-family: 'Luckiest Guy', cursive;
    font-size: 3rem;
    color: #fcf6bd;
    text-shadow: 2px 2px 0 #484747;
    text-align: center;
    letter-spacing: 2px;
}